@import url('https://fonts.cdnfonts.com/css/inter');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
    font-family: 'Inter', sans-serif;
    overflow:hidden;
}
html{
    background-color:#0f0f0f;
}
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height:100vh;
    width:100vw;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.weather-image{
    grid-area: 2 / 3 / 4 / 9; 
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.weather-image img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}
.weather-info-right{
    grid-area: 2 / 9 / 4 / 11; 
    margin-right:4vw;
}
.weather-info-right h2{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    color:#fff;
    font-size:30px;
    font-weight:300;
    height:50%;
}
.weather-info-right .temp-span{
    font-size:12px;
    font-weight:400;
    text-transform:uppercase;
}
.weather-info-right .wind-span{
    font-size:12px;
    font-weight:400;
    text-transform:uppercase;
}
.weather-info-left{
    grid-area: 2 / 1 / 4 / 3; 
    margin-left:4vw;
}
.weather-info-left h2{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:#fff;
    font-size:30px;
    font-weight:300;
    height:50%;
}
.weather-info-left .pressure-span{
    font-size:12px;
    font-weight:400;
    text-transform:uppercase;
}
.weather-info-left .humidity-span{
    font-size:12px;
    font-weight:400;
    text-transform:uppercase;
}
.weather-history{
    /* For Safari */
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    grid-area: 5 / 2 / 7 / 10; 
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5vh;
}
.weather-history .day h2,h5{
    color:#fff;
}
.date-time {
    grid-area: 4 / 2 / 5 / 10; 
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.date-time .time{
    font-size:15px;
    margin:0px 5px 0 5px;
    font-weight:500;
}

.date-time .current-state{
    font-size:12px;
    font-weight:400;
}
.weather-icon-city{
    grid-area: 1 / 5 / 2 / 7; 
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.weather-icon-city .city{
    font-size:15px;
    font-weight:500;
    margin-bottom:3px;
}
.weather-icon-city .change-city{
    font-size:12px;
    font-weight:400;
    cursor:pointer;
}
.day{
    cursor:pointer;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
    border-radius:20px;
    transition:0.1s linear;
    min-width:100px;
    padding:20px;
}
.day:hover{
    transform:translateY(-5px);
    background-color:#1f1f1f;
}
.day .day-name{
    font-size:20px;
    text-transform:uppercase;
    font-weight:300;
}
.day .condition{
    font-size:12px;
    font-weight:300;
    
}
.search-form{
    position:absolute;
    top:-100vh;
    left:0;
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    z-index:5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-form input{
    margin-bottom:10vh;
    height:100px;
    width:500px;
    border:none;
    border-bottom:1px solid white;
    font-size:30px;
    background-color: rgba(0, 0, 0, 0); 
    color:#fff;
}
input:focus{
    outline:none;
}
.close-icon{
    position:absolute;
    top:30px;
    right:30px;
    cursor:pointer;
}
.close-icon svg{
    color:#fff;
}
@media screen and (max-width: 850px) {
    .weather-info-left h2 {
        padding:20px;
        font-size:22px;
    }
    .weather-info-right h2 {
        font-size:22px;
    }
    .day .day-name{
        font-size:15px;
    }
    .date-time .time{
        font-size:13px;
    }
    .search-form input{
        font-size:25px;
    }

}
@media screen and (max-width:750px){
    .weather-history{
        justify-content:center;

    }
    .search-form input{
        font-size:20px;
        height:80px;
        width:400px;
    }

}
@media screen and (max-width:550px){
    #image{
        max-height:80%;
        max-width:80%;
    }
    .weather-info-left h2 {
        font-size:18px;

    }
    .weather-info-right h2 {
        font-size:18px;
    }
    .weather-info-right .temp-span{
        font-size:9px;

    }
    .weather-info-right .wind-span{
        font-size:9px;

    }
    .weather-info-left .humidity-span{
        font-size:9px;

    }
    .weather-info-left .pressure-span{
        font-size:9px;

    }
    .day .day-name{
        font-size:13px;
    }
    .date-time .time{
        font-size:11px;
    }

    .search-form input{
        font-size:18px;
        height:70px;
        width:300px;
    }

}
.current-state{
    margin-top:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.current-state{
}
.current-weather{
    margin-top:3px;
}
.current-weather svg{
    width:15px;
    height:15px;
    margin-left:5px;
}
.scroll-msg{
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    padding-bottom:50px;
    color:#e8e8e8;
    font-weight:500;
    font-size:11px;
    display:none;

}
@media screen and (max-width:400px){
    .weather-history{
      overflow-x:auto;
      flex-wrap:nowrap;
      justify-content:flex-start;
    }
    .scroll-msg{
        display:block;
    }
}
